@model Evento.Participante

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3 style="color:red">Tem certeza que deseja apagar este participante?</h3>
<fieldset>
    <legend>Participante</legend>

    <div class="display-label">Tipo de Participante</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoParticipante.descricao)
    </div>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">Apelido</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apelido)
    </div>

    <div class="display-label">Grau Academico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrauAcademico.descricao)
    </div>

    <div class="display-label">Empresa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.empresa)
    </div>

    <div class="display-label">dataNascimento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataNascimento)
    </div>

    <div class="display-label">Sexo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo1.descricao)
    </div>

    <div class="display-label">Telefone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tel)
    </div>

    <div class="display-label">E-mail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">Evento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Evento.titulo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Apagar" /> |
        @Html.ActionLink("Listagem", "Index")
    </p>
}
