@model Evento.Publicacao

@{
    ViewBag.Title = "Edit";
}

<h2>Remarcar Evento</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Publicacao</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.dataPublicacao, "Data de Publicacao")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dataPublicacao)
            @Html.ValidationMessageFor(model => model.dataPublicacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEvento, "Evento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idEvento", String.Empty)
            @Html.ValidationMessageFor(model => model.idEvento)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
